    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Présentation de l'activité</h2>
              <br/>
                <p>Fort d'une expérience de 5 ans dans la lutherie semi-amateur, <a href="https://www.facebook.com/lesfreresrodriguez/photos_of/">(Voir site)</a>, l'envie d'aller voir plus loin en utilisant les technologies récentes m'ont poussé à retourner aux études...</p>
                <p>ZZZ</p>
                <p>ZZZ</p>
                <p>ZZZ</p>
                <br/>
              </div>
        </div>
    </section>
